Тебе будет дана статья с названием "{{ .Title }}".
Вкратце перескажи, в виде не более 3-10 буллит-поинтов (если получится, то можно и короче),
начинающихся с символа "-", о её содержании.
Каждый буллит поинт должен быть не более 10-12 слов.
Буллит поинты необходимо написать на русском, с соблюдением грамматики.
Статья:
{{.Content}}
