Тебе будет дана статья с названием "{{ .Title }}".
Вкратце перескажи, в виде не более 3-10 буллит-поинтов (если получится, то можно и короче),
начинающихся с символа "-", о её содержании.
Статья:
{{.Content}}
